/*
	CMS Editor Styles
*/

.script-font {
	font-family: $scriptfont;
}
.script-font-burgundy {
	font-family: $scriptfont;
	color: $burgundy;
}
.script-font-pink {
	font-family: $scriptfont;
	color: $pink;
}
.burgundy-text {
	color: $burgundy;
}
.pink-text {
	color: $pink;
}
.button {
	background: $nude;
	padding: 8px 12px;
	display: inline-block;
}