/*
--- CLIENT
--- Editor stylesheet
--- By James Barnsley
*/

input,
select,
textarea,
option,
button {
	font-size: 15px;
	padding: 10px 3%;
	width: 94%;
	border: 1px solid $grey;
	box-sizing: border-box;
}

#UserForm_Form {

	.field {
		padding-bottom: 15px;

		label {
			font-size: 1.3em;
			font-weight: normal;
			margin-bottom: 10px;
		}

		&.text {
			input {
				&:focus,
				&:active {
					border-color: $grey;
				}
			}
		}

		.error {
			color: $burgundy;
		}

		input.error,
		textarea.error {
			border: 1px solid $burgundy;
		}
	}

}

input[type="submit"] {
	@include animate();
	background: $burgundy;
	color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	border: 0;
	width: 180px;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
	background: darken($burgundy, 10%);
}

::-webkit-input-placeholder {	color: rgba(0,0,0,0.25); }
:-moz-placeholder {				color: rgba(0,0,0,0.25); }
::-moz-placeholder {			color: rgba(0,0,0,0.25); }
:-ms-input-placeholder {		color: rgba(0,0,0,0.25); }




