
/**
 * General layout
 **/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
	@include OptimiseBgImg();
}

main {
	padding: 40px 0 150px;

	&.fixtotop { padding-top: 0; }

	.inner {
		background: rgba(255,255,255,0.85);
	}
}

.inner {
	max-width: 1400px;
	margin: 0 auto;
}

.liner {
	padding: 60px;
}

.table {	
	.row {
		clear: both;
		
		&.heading {
			font-weight: bold;
			border-bottom: 1px solid $light_grey;
		}
	}
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.clear {
	clear: both;
}


.float-left { float: left; }
.float-right { float: right; }

.w1x2 { width: 50%; }
.w1x2-right-spaced { width: 46%; margin-right: 4%; }
.w1x2-left-spaced { width: 46%; margin-left: 4%; }

.w1x3 { width: 33.33%; }
.w2x3 { width: 66.66% }
.w1x3-spaced { width: 30%; margin: 0 3.33% 0 0; }

.w1x4 {	width: 25%; }
.w3x4 { width: 75%; }
.w3x4-left-spaced { width: 71%; margin-left: 3%; }

.w4x5 { width: 80%; }
.w3x5 { width: 60%; }
.w2x5 { width: 40%; }
.w1x5 { width: 20%; }

#popups {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background: rgba(0,0,0,0.9);
	/*padding: 5% 0;*/
	height: 100%;
	width: 100%;
	display: none;

	.inner {
		position: absolute;
		width: 1000px;
		height: 1000px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.close {
		position: absolute;
		top: 10px;
		z-index: 6;
		right: 0;
		width: 50px;
		height: 50px;
		font-size: 50px;
		cursor: pointer;
		color: #FFF;
	}

	.liner {
		background: $black;
		padding: 0;

		.popup-content {
			height: 100%;
			overflow: auto;
			position: relative;
		}

	}

	.contact-form { 
		padding: 40px 20px; 

		h4 {
			margin-bottom: 20px;
		}
	}

	.message {
		text-align: center;
	}

}