/**
 * Typography styles
 *
 * All typography formatting and general font settings
 * belong in this file. For unique blocks and widgets, etc
 * you should put those in layout.css
 **/
 
/*@include font-face('BernhardModernStd-Roman', '../fonts/BernhardModernStd-Roman', $exts: eot woff ttf svg); */
@include font-face('ShelleyAllegroScript', '../fonts/ShelleyAllegroScript', $exts: eot woff2 woff ttf svg);

$scriptfont: 'ShelleyAllegroScript';
$bodyfont: 'Lora';


body,
html {
	font-family: $bodyfont, 'Times New Roman', serif;
	font-size: 14px;
	color: $darkgrey;
}

.script-font {
	font-family: $scriptfont;
}
.burgundy {
	color: $burgundy;
}
.pink {
	color: $pink;
}
.script-font-burgundy {
	font-family: $scriptfont;
	color: $burgundy;
}
.script-font-pink {
	font-family: $scriptfont;
	color: $pink;
}

/**
 * Headings
 **/

h1, h2, h3 {
	font-family: $scriptfont;
}

h1 {
	font-size: 4rem;
	padding: 0.5rem 0;
	font-weight: 300;
}

h2 {
	font-size: 3rem;
	padding: 0.5rem 0;
	font-weight: 300;
}

h3 {
	font-size: 2.7rem;
	padding: 0.5rem 0;
	font-weight: 400;
}

h4 {
	font-size: 1.5rem;
	padding: 0.5rem 0;
	font-weight: 400;
}



/**
 * Body copy
 **/

.typography p {
	font-size: 1.2em;
    line-height: 1.5em;
	padding: 0.4rem 0;

	strong {
		font-weight: 700;
	}
}

.typography a {
	@include animate();
}

.typography a:not(.button) {
	text-decoration: none;
	color: $burgundy;
}

.typography a:not(.button):hover {
	border-color: #000000;
	color: #000000;
}

.typography ul,
.typography ol {
	padding-left: 24px;
}

.typography li {
	font-size: 1.4em;
	padding: 0.2em 0;
}


.button {
	background: $nude;
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	padding: 8px 12px;
	border: 0;
}

.button:hover {
	background: $pink;
	color: $white;
}




/**
 * Text formatting
 *
 * Allows us to add a class (ie .centered-text) to text to apply font styles
 **/

.centered-text {		text-align: center; }
.bold-text {			font-weight: bold; }
.italic-text {			font-style: italic; }


