/**
 * Colours
 **/

$black: #000000;
$white: #FFFFFF;
$grey: #BBBBBB;
$lightgrey: #EEEEEE;
$darkgrey: #333333;
$burgundy: #942433;
$pink: #e4484f;
$nude: #FADFBD;
$nude60: rgba(250, 223, 189, 0.6);
$nude40: rgba(250, 223, 189, 0.4);

.black-text { 				color: $black !important; }
.grey-text {				color: $grey !important; }
.burgundy-text {			color: $burgundy !important; }
.pink-text {				color: $pink !important; }

.black-background { 		background-color: $black !important; }
.grey-background {			background-color: $grey !important; }
.burgundy-background {		background-color: $burgundy !important; }
.pink-background {			background-color: $pink !important; }