<!doctype html>
<html lang="en" class="<% if URLSegment == 'Security' %>security-page<% end_if %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<title>Miss Abigail Bridal Couture</title>
	<style>
		body { text-align: center; }
		h1 { font-size: 4em; line-height: 1.1em; margin-bottom: 0; }
		h2 { font-size: 1.2em; margin-top: 8px; }
		p { font-size: 1.6em; margin-top: 60px; }
	</style>
</head>

<body>

<h1>Miss Abigail</h1>
<h2>BRIDAL COUTURE</h2>

<p>Website coming soon.</p>

</body>
</html>