
.security-page {
    
    ul {
        display: none;
    }

    form {
    	margin: 0 auto;
    	max-width: 500px;
    	border: 0;
    	padding: 30px;
    	background: $light_grey;

    	.field {
            margin-bottom: 20px;

    		&.text {
    			label {
    				display: block;
                    padding-bottom: 10px;
    			}
	    		input{
		    		width: 100%;
		    	}

                
	    	}

            &.checkbox input {
                width: 20px;
            }
            
    	}

    	.Actions {
    		padding-top: 10px;
    		text-align: center;

            input {
                width: 180px;
                margin-right: 10px;
            }
    	}

    	#ForgotPassword {
    		display: inline-block;
    		a {
    			display: inline-block;
				background: $pink;
				color: #FFFFFF;
				cursor: hand;
				cursor: pointer;
				text-decoration: none;
				font-size: 12px;
				font-weight: 700;
				padding: 6px 16px 5px;
				box-sizing: border-box;
				border: 0;

				&:hover {
					background: darken($pink, 10%);
				}
    		}
    	}
    }    
}