/*
	Page footer 
*/

footer {	
	font-family: $navfont;
	position: absolute;
	bottom: 0;
	z-index: 4;
	width: 100%;
	/*border-top: 1px solid rgba(255, 225, 187, 1	);*/
	box-shadow: 1px 0px 5px rgba(0,0,0,0.2);
	background: url('../images/dot-bg.jpg');
	opacity: 0.85;
	padding: 15px 0;

	ul {
		float: left;
		li {
			display: inline;
		}

		a {
			color: $burgundy;
			text-decoration: none;
			padding: 0 15px 0 0;

			&:hover {
				color: $black;
			}
		}

	}

	.float-right {
		a { 
			color: $burgundy;
			font-size: 1.4em;
			line-height: 20px;
			text-align: center;
			display: block;
			width: 30px;
			height: 20px;
			float: right; 

			&:hover { color: $pink; }
		}
	}

	.social-links { float: right; }

	.copy {
		font-size: 0.9em;
		color: $burgundy;
		text-align: center;
	    margin: 0 15px 0 0;
	    line-height: 23px;
	}
}