/*
	Page header
*/

header {
    text-align: center;
    position: relative;
    z-index: 4;
    width: 100%;

    .dots {
    	background: rgba(255, 225, 187, 0.85);
    	/*background: url('../images/dot-bg.jpg');*/
    }
	
	h1 {
		padding: 20px 0 0;
		line-height: 0.8em;

		a {
			display: block;
			width: 350px;
			margin: 0 auto;
		}

		img {
			max-width: 100%;
		}
	}

	h2 {
		font-family: 'Times New Roman';
		font-size: 1.3em;
		padding: 0 0 15px;
		text-transform: uppercase;
	}

}