/*
	Testimonials
*/

.testimonials {
	margin: 30px 40px 0;
	position: relative;
	min-height: 300px;

	h3 {
		padding-bottom: 20px;
	}

	.quote {
		width: 100%;
		position: absolute;
		opacity: 0;

		p {
			font-size: 1.2em;
			font-style: italic;
			line-height: 1.4em;
			padding: 0;

			&.author {
				font-size: 1.2em;
				font-style: normal;
				text-align: right;
				margin-top: 5px;
			}
		}
	}

	.slidenav {
		width: 100%;

		a {
			position: absolute;
			top: 40%;
			z-index: 5;
			height: 40px;
			width: 25px;
			text-align: center;

			&.left { left: -35px; }
			&.right { right: -35px; }

			&:hover {
				i { color: $burgundy; }
			}

			i {
				font-size: 3em;
				color: $grey;
			}
		}
	}
}