/*
	Gallery page
*/

.typography .filter {

	p {
		font-size: 1.1em;
		display: inline;
	}

	a {
	    margin: 0 10px 20px 0;
	    display: inline-block;

	    &.active {
	    	background: $black;
	    }
	}
}

.item {
	display: block;
	margin-right: 1%;
	margin-bottom: 12px;
	height: 450px;
	overflow: hidden;
	@include OptimiseBgImg();

	&.Single {
		width: 24%;
	}

	&.Double {
		width: 49%;
	}

	
}

#popups .liner .popup-content.slides {
	height: 1000px;
	width: 1000px;
	overflow: inherit;

	.slide {
		width: 100%;
		height: 100%;
		background: $black;
		color: $white;

		.item { position: absolute; }

		.portrait {
			height: 100%;
			width: 70%;
			left: 15%;
		}

		.landscape {
			width: 100%;
			height: 70%;
			top: 15%;
		}
	}

	.slidenav a.left {
		left: -70px;
	}

	.slidenav a.right {
		right: -70px;
	}
	
}