/*
	Gallery page
*/

.typography .filter {

	p {
		font-size: 1.1em;
		display: inline;
	}

	a {
	    margin: 0 10px 20px 0;
	    display: inline-block;

	    &.active {
	    	background: $black;
	    }
	}
}

.grid .item {
	display: block;
	margin-right: 1%;
	margin-bottom: 10px;
	height: 450px;
	overflow: hidden;
	@include OptimiseBgImg();
	cursor: hand;
	cursor: pointer;

	&.portrait {
		width: 24%;
	}

	&.landscape {
		width: 49%;
	}

}

.GalleryPage #popups {

	.close{ 
		color: $burgundy; 
		background-image: url('../images/close.png');
		@include OptimiseBgImg(contain);
	}

	.popup-content.slides {
		background: rgba(255,255,255,0.8);
		/*height: 1000px;
		width: 1000px;*/
		overflow: inherit;

		.slide {
			width: 100%;
			height: 100%;
			max-width: 1700px;
			max-height: 1700px;
			opacity: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			cursor: hand;
			cursor: pointer;

			.item {
				display: block;
				@include CenterPositioning();

				&.portrait {
					height: 100%;
					margin: 0 auto;
				}

				&.landscape {
					width: 100%;
					margin: auto 0;
				}
			}	
		}

		.slidenav a {
			i {
				color: $burgundy;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}

		
	}
}